@(  user: User)(implicit flash: Flash, req: Request[AnyContent])

@import models.Asset
@import _root_.util.config.Feature
@import _root_.util.plugins.SoftLayer
@import _root_.util.views.{MetaValueOrderer, TagDecorator, Titler}

@main("Browse Assets By Rack") {
<div class="row">


@for( asset <- Asset.findByTypeName("RACK"); aa=asset.getAllAttributes ){

  <h2>@asset.tag</h2>
  <table class="table table-bordered table-hover table-condensed" id="children">
  <tbody>

    @if(aa.hierarchy.get.asset_info.nonEmpty){
    <tr>
      @if(! aa.hierarchy.get.getRuCount.isEmpty){
        <th>RU</th>
      }
      <th>Asset Tag</th><th>Type</th>
      @if(asset.getType.toString == "RACK" || asset.getType.toString == "SERVER_CHASSIS"){
      <th>Hostname</th><th>IPs</th><th>IPMI</th>
      }
      <th>Links</th>
    </tr>
        @for( c <- aa.hierarchy.get.getDisplayTable.sortWith(_.end_index > _.end_index)){

            <tr>
                @if(c.end_index >0){
                    <th>@c.end_index</th>
                }

                @if(c.info.nonEmpty && c.info.get.child_end == c.end_index ){
                    <td units=@c.info_span>@c.asset_tag.get </td>
                    <td units=@c.info_span>@{Asset.findByTag(c.asset_tag.get).get.getType.label} </td>
                    @if(asset.getType.toString == "RACK" || aa.asset.getType.toString == "SERVER_CHASSIS"){
                      @if(c.node_info.nonEmpty){
                        <td units=@c.info_span>@c.node_info.get.hostname</td> 
                        <td units=@c.info_span>@c.node_info.get.ip_address</td> 
                        <td units=@c.info_span>@c.node_info.get.ipmi_address</td>
                      }else{
                        <td units=@c.info_span></td>
                        <td units=@c.info_span></td>
                        <td units=@c.info_span></td>
                      }
                    }
                    <td units=@c.info_span><a href=@{"/asset/"+c.asset_tag.get}>Info</a>
                    @if(HierarchyInfo.findChildren(c.info.get.child_id).length > 0){
                     <a href=@{"/asset/"+c.asset_tag.get+"#hierarchy"}>Browse</a>
                    }</td>
                }else{
                    <td></td><td></td><td></td><td></td><td></td><td></td>
                }

            </tr>

        }
    }else{
        <tr><th>Asset has no children</th><th></th></tr>
    }
  </tbody>
  </table>
}

</div>

<script>

$( document ).ready(function() {

    //hide unmerged cells
    var rows = $("#children").find("tr").toArray()

    for (var i = 0; i < rows.length; i++)
    {
        var row = rows[i]

        for (var j = 0; j < row.children.length; j++)
        {
            cell = row.children[j]
            if (cell.hasAttribute('units'))
            {
                var units = cell.getAttribute('units');
                $(cell).attr('rowspan',units);
                $(cell).addClass('full');

                for ( var k =  1; k < units; k++  )
                {

                    var nextRow = rows[i+k]
                    var remove = nextRow.children[j]
                    $(remove).hide()
                }
            }

        }
    }

});

</script>

}
