@(title: String, loggedIn: Boolean = true, isOpenId: Boolean = false)(content: Html)(implicit req: Request[AnyContent])

@import helper._
@import _root_.util.views.Formatter
@import _root_.controllers.Permissions

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>@title</title>

    <link rel="stylesheet" href="@routes.Assets.at("stylesheets/bootstrap.min.css")">
    <link rel="stylesheet" href="@routes.Assets.at("stylesheets/main.css")">
    <link rel="stylesheet" href="@routes.Assets.at("stylesheets/bootstrap-responsive.css")">
    <link rel="stylesheet" href="@routes.Assets.at("stylesheets/datepicker.css")">
    <link rel="stylesheet" href="@routes.Assets.at("stylesheets/browse.css")">
    <script src="@routes.Assets.at("javascripts/jquery-latest.js")" type="text/javascript"></script>

    <link rel="shortcut icon" type="image/gif" href="@routes.Assets.at("images/favicon.ico")">
  </head>

  <body>

    @if(loggedIn) {
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <i class="icon-bar"></i>
            <i class="icon-bar"></i>
            <i class="icon-bar"></i>
          </button>
          <a class="brand" href="@app.routes.Resources.index">Collins</a>
          <div class="nav-collapse collapse pull-right">
            <ul class="nav">
              <li class="@("active".when(req.path == app.routes.Resources.index.toString()))"><a href="@app.routes.Resources.index">Search</a></li>
              @User.fromMap(SessionStore.getSession(req)).map { u =>
              @if(Permissions.please(u, Permissions.AssetLogApi.GetAll)) {
                <li><a href="@routes.Admin.logs">Logging</a></li>
              }
              @if(Permissions.please(u, Permissions.AssetApi.CreateAsset)) {
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Create <b class="caret"></b></a>
                <ul class="dropdown-menu">
                  @AssetType.find().filter(_.name != "SERVER_NODE").map { t =>
                    <li class="@("active".when(req.path == app.routes.Resources.displayCreateForm(t.name).toString()))" ><a href="@app.routes.Resources.displayCreateForm(t.name)">@t.label</a></li>
                  }
                </ul>
              </li>
              }}
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Browse <b class="caret"></b></a>
                <ul class="dropdown-menu">
                   <li ><a href="@app.routes.Resources.browsePhysicalTable">Physical Resource Tables</a></li>
                   <li ><a href="@app.routes.Resources.browsePhysicalGraph">Physical Resource Graph</a></li>
                </ul>
              </li>
              <li><a href="@app.routes.HelpPage.index("default")"><i class="icon-question-sign icon-white"></i></a></li>
              <li><a href="@routes.Application.logout">Logout</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    } else {
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <div class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </div>
          <a class="brand" href="@app.routes.Resources.index">Collins</a>
          <div class="nav-collapse collapse">
            <form action="@routes.Application.authenticate" method="post" class="navbar-form pull-right">
              <input class="input-medium" type="text" name="username" placeholder="Username">
              <input class="input-medium" type="password" name="password" placeholder="Password">
              <button class="btn" type="submit">Sign in</button>
              @if(isOpenId) {
                <button class="btn" name="google" type="submit">Sign in with Google</button>
              }
            </form>
          </div>
        </div>
      </div>
    </div>
    }

    <div class="container">

      <div id="mainContent" class="content">
        @content
      </div>

      <hr>

      <footer>
        <p>&copy; Tumblr, 2011-2014</p>
      </footer>
    </div>

    <script src="@routes.Assets.at("javascripts/jquery.dataTables.min.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("javascripts/bootstrap.min.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("javascripts/bootstrap-datepicker.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("javascripts/dataTables.bootstrapPagination.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("javascripts/dataTables.reloadAjax.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("javascripts/main.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("javascripts/refreshing.js")" type="text/javascript"></script>

  </body>
</html>
